
.container{
    .title-games{
        margin-top:3.125rem;
        font-size:1.25rem;
        color: #F7F5F2;
        text-decoration: underline;
    }
    .games-desc{
        margin-top:0rem;
        font-size:1rem;
        color: #F7F7F7;

        text-align: left;
    }
}
.about-me{
    margin-top:1.875rem;
    font-size:1.25rem;
    color: #F7F5F2;
    text-decoration: underline;
}

.about-me-desc{
    margin-top:0.625rem;
    font-size:0.9375rem;
    color: #F7F7F7;
    margin-bottom: 1.25rem;
}